<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Book Store</title>
  <link rel="stylesheet" href="../public/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

</head>

<body>
  <div class="start">
  
    <header>
      <nav class="sec-1">
        <div class="p-1">
          <!--  <a href="../index"><i class="fa fa-book"></i></a>-->
          <a href="../index">
            <h3>BOOK<span>STORE</span></h3>
          </a>
        </div>
        <div class="p-2">
          <ul>
            <a href="../index">
              <li>Home</li>
            </a>
            <a href="../shop">
              <li>Shop</li>
            </a>
            <a href="../order">
              <li>Order</li>
            </a>
            <a href="../feedback">
              <li>Feedback</li>
            </a>
          </ul>
        </div>
        <div class="p-3">
           <a href="../profile" id="username">{{user.u_name}}</a>
        

         <!-- <a href="../profile"><i class="fa fa-user"></i></a>-->
          
       <a href="../cart"><i class="fa fa-shopping-cart"></i></a>
       <!--<a href="../cart" class="logout-heart">cart</a>-->
        <a href="#" id="heart"><i class="fa fa-power-off" id="logout-heart"></i></a>
        <!-- <a href="#" id="heart" class="logout-heart">log out</a>-->
        </div>
      </nav>
    </header>





    <section class="section-1">
      <div class="se-2">
     <img src="../image/bluebook.jpg" width="300px" height="300px">
      </div>
      <div class="se-1">
      <p class="find">FIND YOUR BEST </p>
      <p class="best"><i class="fa fa-heart"></i>BOOK HERE</p>
     
        <br>
        <img src="../image/cute.avif" width="300px" height="300px">
     <!-- <button class="btn">BUY NOW</button>-->
      </div>
      
    </section>

    <section class="section-2">
     
     <h4>Welcome to Our Store</h4>
      <img src="../image/star_book.jpg" width="230px" height="115px">
      <div class="item">
        {{#each books}}
        <div class="book-1">
          <a href="../shop"> <img src="data:image/jpeg;base64,{{this.b_image}}" width="170px" height="250px"></a>
          <div class="small">
          <p>{{this.b_name}}</p>
          <span>₹ {{this.b_price}}</span>
          <del>₹ {{this.b_del_price}}</del>
          </div>
        </div>
        {{/each}}
      </div>
    </section>




    <footer class="footer-distributed">

      <div class="footer-left">

        <h3>BOOK<span>STORE</span></h3>

        <p class="footer-links">
          <a href="../index" class="link-1">Home</a>

          <a href="../shop">Shop</a>

          <a href="../order">Order</a>

          <a href="../feedback">Feedback</a>


        </p>

        <p class="footer-company-name">BOOKSTORE © 2023</p>
      </div>

      <div class="footer-center">

        <div>
          <i class="fa fa-map-marker"></i>
          <p><span>Gwalior</span></p>
        </div>

        <div>
          <i class="fa fa-phone"></i>
          <p>+1.555.555.5555</p>
        </div>

        <div>
          <i class="fa fa-envelope"></i>
          <p><a href="mailto:support@company.com">support@company.com</a></p>
        </div>

      </div>

      <div class="footer-right">

        <p class="footer-company-about">
          <span>About the company</span>
          Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus
          vehicula sit amet.
        </p>

        <div class="footer-icons">

          <a href="#"><i class="fa fa-facebook"></i></a>
          <a href="#"><i class="fa fa-twitter"></i></a>
          <a href="#"><i class="fa fa-linkedin"></i></a>
          <a href="#"><i class="fa fa-github"></i></a>

        </div>

      </div>

    </footer>
  </div> 

</body>

 <script>
  document.addEventListener("DOMContentLoaded", function () {
    const heartIcon = document.getElementById("logout-heart");

    if (heartIcon) {
        heartIcon.addEventListener("click", function (event) {
            event.preventDefault();

            // Send an AJAX request to the logout endpoint
            fetch('/logout', {
                method: 'GET',
            })
            .then(response => {
                if (response.ok) {
                    // Redirect the user to the home page after logout
                    window.location.href = '/landing';
                } else {
                    console.error('Logout failed');
                }
            })
            .catch(error => {
                console.error('Logout failed:', error);
            });
        });
    }
});

 </script>
</html>